{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}
    <div class="brownBack">
        <div class="divabout">
            <h1>Chêga Ae</h1>
            <p>
                Hello, I'm Gabriel, and this project marks the culmination of my CS50x journey.
                I chose to create a website focused on the material history of my city (Cuiabá - Brazil),
                aiming to increase its popularity and educate people about its significance and rich history.

            </p>
            <p>
                For the design, I opted for a flat art style due to its simplicity, making the webpage more appealing and accessible to a diverse audience.
                I used Adobe Illustrator for page layout and illustration creation, as I have more experience with it compared to other tools like Figma.
            </p>
            <p>
                The technologies employed in the project include HTML, JavaScript, Python, Flask, MySQL, and WeatherAPI (www.weatherapi.com). For purpose
                of knowledge, the website has a forum, an account system and a weather API connection.
            </p>
        </div>
    </div>
{% endblock %}

